* {
	margin: 0;
}
body {
	font-family: "Quicksand", sans-serif;
	color: white;
	background-color: rgb(9, 19, 12);
}

button,
a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: white;
	color: black;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s, color 0.3s;
	border-radius: 5px;
}

button:hover,
a:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

button:active,
a:active {
	background-color: gray;
	color: white;
	border: 2px solid gray;
}

p {
	text-align: center;
}

.containeer {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1000px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 40px;
}

.menu-items {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: right;
}

.menu-item {
	margin: 0 1rem;
	justify-content: right;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	min-height: 69vh;
}

.card {
	background-color: grey;
	min-width: 200px;
	height: 220px;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	border-radius: 5px;
}

.delete-checkbox {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.properties {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

@media (min-height: 100vh) {
	footer {
		position: static;
		margin-top: auto;
	}
}
